---
---

@import "{{ site.theme }}";

/* Force the container to be wider so badges fit */
.wrapper {
  max-width: 1000px !important; 
}

/* Ensure the centering div actually centers */
div[align="center"] {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Fix badge spacing */
img {
  display: inline-block;
  margin: 5px;
}
